@model ESSMaterWebApp.Models.Diagnosis

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Diagnosis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssessmentDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessmentDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiagnosisQuestionnaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiagnosisQuestionnaire.QuestionnaireId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DiagnosisId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
